@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}
/* header {
    background-color: #FF7C16;
    padding-top: 10px;
    min-height: 70px;
    position: fixed;
    top: 1;
    width: 100%;
} */
/* header #brand {
    float: left;
    width: auto;
}
header #brand h1 {
    margin-top: 2px;
}
header nav {
    float: right;
    margin-top: 0px;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF7C16;
    color: white;
    position: fixed;
    width: 100%;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-link ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-link li {
    list-style: none;
}

.navbar-link li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-link a:hover {
    transform: matrix();
    color: #393636;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.li:hover,a.abc:active{
    text-decoration: underline;
}
.jumbotron {
    padding-top: 50px;
    margin-top: 0px;
    background-image: url("./pic/batik.jpg");
    background-size: 100%;
    background-blend-mode: difference;
    min-height: 660px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
button {
    background-color: #FF7C16;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color:white;
    color: #FF7C16;
}
.jenisBatik {
    display: flex;
    justify-content: center;
}
.jenisBatik > div {
    background-color:inherit;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 30%;
    flex-flow: row wrap;
}
.jenisBatik div p {
    font-size: 15px;
}
.profit {
    display: flex;
}
.profit > div {
    background-color:inherit;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    flex-flow: row wrap;
}
.profit div p {
    font-size: 15px;
}
.orange {
    background-color: #ff7c1b; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    min-height: 120px;
    padding-top: 2px;
}
.white div {
    float: left;
    width: 30%;
    background-color: white;
    margin:20px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.harga{
    color: #FF7C16;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* height: 100px; */
    padding-top: 10px; 
    margin-bottom: 5px;
}
.flex{
    background-color: white;
    margin-top: 50px;
    align-content: center;
    margin-bottom: 100px;
}
.card{
    padding: 20px;
    float: left;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    width: fit-content;
    margin: 10px;
    align-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    width: 23.3%;
    justify-content: center;
}
.card-stats{
    border-radius: 20px;
    width: auto;    
    height: 25px;
    margin: 10px;
    margin-top: 80px;
} 

.card-image img{
    width: 150px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card-text p{
    margin: 15px;
}
.hubungi{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    padding-top: 10px; 
}
.TentangKami {
    text-align: center;
    background-image: url("pic/TentangKami.png");
    padding: 50px;
    font-size: large;
    font-weight: bold;
    color: #393636;
}
.Testi {
    background-color: #574333;
    color: white;
    padding: 50px;
    justify-content: center;
}
.garis {
    float: left;
    border-left: 6px solid white;
    height: 300px;
    width: 10%;
}
.paragraf {
    float: left;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: auto;
    width: 50%;
}
.bubble {
    float: left;
    width: 30%;
}
.bubble > div {
    background-color: #FF7C16;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    margin: 20px;   
}
.bubble > div > h1 {
    margin: 0px;
}
.bubble > div > p {
    margin: 5px;
}
.hubungi {
    margin-bottom: 50px;
}
.hubungi img{
    width: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0%;
}
.telfon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding-top: 150px;
    text-align: center;
}
.telfon > div p{
    background-color: #FF7C16;
    border-radius: 30px;
    color: white;
    align-self: center;
}
.telfon img{
    width: 60px;  
}
.WA{
    background-image: url(../ArdaAr.github.io/pic/telfon.png);
    margin: 100px;
    padding: 100px;
}

footer{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    background-color: #FF7C16;
    color: black;
}
#sosmed img:hover {
    transform: scale(1.05);
}
.telfon p:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media (min-width: 912px) and (max-width: 1500px){
    .white div {
        margin: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 15px;
    }
    .card {
        flex-wrap: wrap;
        width: 40%;
        margin-left: 60px;
    }
}

@media (max-width: 912px){
    .navbar {
        flex-direction: column;
    }
    .navbar-link ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-link li {
        text-align: center;
    }
    .navbar-link{
        display: none;
    }
    .navbar-link.active {
        display: flex;
        text-align: center;
    }
    .toggle-button {
        display: flex;
    }
    .jumbotron{
        background-size: auto;
    }
    .jenisBatik, .jenisBatik div {
        display: block;
        width: 100%;
        text-align: center;
    }
    .garis {
        height: 0%;
    }
    .profit{
        display: block;
    }
    .bubble {
        justify-content: center;
        float: none;
        width: 90%;
        padding: 0;
    }
    .bubble div {
        width: 100%;
    }
    .card {
        float: none;
        width: 95% ;
    }
    .card-stats{
        width: auto;
    }
    .Testi {
        padding: 0%;
    }
    .white div, .paragraf {
        float: none;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 0;
    }
}